 <div class="container mtb">
  <div class="row">
    <div class="col-lg-6">
      <img class="img-responsive" src="<%= random_about_img %>" alt="">
    </div>

    <div class="col-lg-6">
      <h4><%= Faker::StarWars.character %></h4>
      <p><%= Faker::Lorem.paragraph(20) %></p>
      <p><br/><a href="/contact" class="btn btn-theme">Contact Us</a></p>
    </div>
  </div>
 </div>

 <div class="container mtb">
  <div class="row centered">
    <h3 class="mb">MEET OUR TEAM</h3>

    <% random_avatars.each do |avatar| %>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="he-wrap tpl6">
          <img src="assets/img/avatars/<%= avatar %>" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
              <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="glyphicon glyphicon-envelope"></i></a>
              <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="glyphicon glyphicon-phone"></i></a>
            </div>
          </div>
        </div>
        <h4><%= Faker::Name.name %></h4>
        <h5 class="ctitle"><%= Faker::Job.title %></h5>
        <p><%= Faker::Lorem.paragraph %></p>
      </div>
    <% end %>

  </div>
</div>

<%= erb 'partials/testimonial'.to_sym %>
<%= erb 'partials/footer'.to_sym %>
<%= erb 'partials/scripts'.to_sym %>
