<div class="container mtb">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 centered">
      <h2>We create awesome designs to standout your site or product. Check some of our latest works.</h2>
      <br>
      <div class="hline"></div>
    </div>
  </div>
</div>

<div id="portfoliowrap">
  <div class="portfolio-centered">
    <div class="recentitems portfolio">
      <%= erb 'partials/portfolio'.to_sym %>
      <%= erb 'partials/portfolio'.to_sym %>
    </div>
  </div>
</div>

<%= erb 'partials/footer'.to_sym %>
<%= erb 'partials/scripts'.to_sym %>
<%= erb 'partials/portfolio_script'.to_sym %>
