<div class="container mtb">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 centered">
      <div id="single_projects" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#single_projects" data-slide-to="0" class="active"></li>
          <li data-target="#single_projects" data-slide-to="1"></li>
          <li data-target="#single_projects" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <% imgs = random_project_imgs(3) %>

          <div class="item active">
            <img src="<%= imgs[0] %>" alt="">
          </div>
          <div class="item">
            <img src="<%= imgs[1] %>" alt="">
          </div>
          <div class="item">
            <img src="<%= imgs[2] %>" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-5 col-lg-offset-1">
      <div class="spacing"></div>
      <h4><%= Faker::StarWars.character %></h4>
      <p><%= Faker::Lorem.paragraph(50) %></p>
      <h4><%= Faker::StarWars.character %></h4>
      <p><%= Faker::Lorem.paragraph(20) %></p>
    </div>

    <div class="col-lg-4 col-lg-offset-1">
      <div class="spacing"></div>
      <h4>Project Details</h4>
      <div class="hline"></div>
      <p><b>Date:</b> April 18, 2014</p>
      <p><b>Author:</b> Marcel Newman</p>
      <p><b>Categories:</b> Illustration, Web Design, Wordpress</p>
      <p><b>Tagged:</b> Flat, UI, Development</p>
      <p><b>Client:</b> Wonder Corp.</p>
      <p><b>Website:</b> <a href="http://blacktie.co">http://blacktie.co</a></p>
    </div>
  </div>
</div>

<%= erb 'partials/footer'.to_sym %>
<%= erb 'partials/scripts'.to_sym %>

<script src="assets/project.js"></script>
